<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-fluid rounded mb-3 mb-md-0" src="{{this.link}}" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>{{this.title}}</h3>
		<a class="btn btn-primary save" href="#">Save Post</a>
	</div>
</div>
<!-- /.row -->

<hr>